<ion-header>

  <ion-navbar>
    <ion-title text-center>Recipes</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="onNewRecipe()">
          <ion-icon name="add" large></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
          <ion-icon name="menu" large></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let recipe of recipes; let i = index" (click)="onLoadRecipe(i)">
      <h2>{{ recipe.title }}</h2>
      <ion-note>{{ recipe.difficulty }}</ion-note>
    </button>
    <!-- <ion-item *ngFor="let recipe of recipes">
      <h2>{{recipe.title}}</h2>
      <h3>{{ recipe.description }}</h3>
      <p *ngFor="let item of recipe.ingredients">{{ item.name}}({{ item.amount}})</p>
    </ion-item> -->
  </ion-list>
</ion-content>
